
*{
    scroll-behavior: smooth;
}
.toTop{
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: 1s;
}

.toTop.active{
    opacity: 1;
}

